body {
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(#4ff744 0.5px, #f7e5f400 0.5px);
    background-size: 10px 10px;
}

.my-table {
    margin: 0 auto; 
    width: 85%;
}

.btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
}

.btn-filter {
    margin-top: 10px;
}

.filter-elm {
    margin-left: 5px;
}

.modal-filter {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.btn-modal {
    margin-top: 10px;
    margin-left: 30px;
}

.form-dropdown {
    margin: 20px auto;
}

.form-date {
    margin: 20px auto;
}

.custom-title {
    margin: 20px;
}